################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DOAN/FileContentIndex/2dd76f42-b613-4393-aac3-7a68604a2ca9.vsidx
/.vs/DOAN/FileContentIndex/48d3e5d7-bc9f-4e3e-bd36-bc561536149a.vsidx
/.vs/DOAN/FileContentIndex
