################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DOAN/FileContentIndex/1f101aee-9c67-4a16-91bd-0f7888f2d036.vsidx
/.vs/DOAN/FileContentIndex
