################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DOAN/FileContentIndex/2dd76f42-b613-4393-aac3-7a68604a2ca9.vsidx
/.vs/DOAN/FileContentIndex
